/* Main */
html body { font-family: 'Gotham'; }

/* Menu */
.menu { 
	height: auto;
	padding: 22px 0px;
	background-color: #000;
	width: 100%;
	color: #fff;
}
.menu.menu--home {
	background-color: transparent;
}

.menu__item, .menu li {
	font-size: 20px;
	line-height: 20px;
	display: inline-block;
	text-transform: uppercase;
	margin: 0px 10px;
	height: 100%;
	vertical-align: top;
	cursor: pointer;

	margin-top: 20px;
}

.menu.menu--page .menu__item {
	font-size: 18px;
	line-height: 18px;
	padding-top: 11px;
	padding-bottom: 7px;
}

.menu__logo {
	max-height: 80px;
	display: inline-block;
	max-width: 120px;
	margin-right: 30px;
}

.menu__logo--main {
	max-width: 190px; 
	max-height: 85px;
	margin-right: 14px;
}

.menu__logo--hero {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0px!important;
	display: none;
}

.menu a { color: inherit; transition: 0.3s; }
.menu a:hover{ color: #999; }

.mobileMenu {
	display: none;
	height: 118px;
	background-color: #000;
	padding: 30px 0px;
	color: #fff;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
}

.mobileMenu .menu__logo {
	margin: 0 auto;
	display: block;
	max-height: 58px;
	max-width: 100%;
}

.mobileMenu--home {
	height: auto;
	background-color: transparent;
}

.mobileMenu--home .menu__logo {
	display: none;
}

.mobileMenu__button {
	max-width: 50px;
	max-height: 50px;
	border-radius: 50px;
	position: fixed;
	right: 15px;
	top: 34px;
	z-index: 105;

	background-color: rgba(0, 0, 0, 0.3);
}

.mobileMenu .menu {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	max-height: 100%;
	transition: 0.3s;
	overflow: hidden;
	padding: 0px;
	height: 0px;
	text-align: center;
	z-index: 100;
}
.mobileMenu .menu .menu__logo {
	margin: 0 auto;
	display: block;
	margin-bottom: 15px;
}
.mobileMenu .menu .menu__item {
	display: block;
	height: auto;
	padding: 15px 0px;
	margin-top: 0px;
}
.mobileMenu .menu a:last-child .menu__item{ padding-bottom: 0px; }

.mobileMenu__button img {
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
	border-radius: 50px;
}

.img.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.appImage {
	margin: 5px;
}

.comingSoon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('/images/hero.jpg');
	background-repeat: no-repeat;
	background-position: 50% calc(50% - 20px);
}
.comingSoon h1 {
	color: #fff;
	font-size: 48px;
}
.comingSoon img {
	display: inline-block;
	margin: 0 auto;
}
.comingSoon__inner {
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* Hero / Header */
.hero {
	width: 100%;
	color: #fff;

	padding-bottom: 40px;
	position: relative;

	background-image: url('/images/hero.jpg');
	background-repeat: no-repeat;
	background-position: 50% calc(50% - 20px);

	height: 90vh;
	min-height: 500px;
	max-height: 1000px;
}
.hero.hero--page {
	padding-bottom: 0px;
	padding-top: 0px;
}
.hero h1{
	font-size: 48px;
	line-height: 48px;
	font-weight: bold; 
}
.hero__content {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	background-color: rgba(0,174,239, 0.85);

	padding: 15px;
}
.hero__logo {
	margin-left: -20px;
	width: 280px;
	height: auto;
	margin-bottom: 60px;
}



/* Content */
.content { 
}
.content h1{ 
	font-weight: bold; 
	font-size: 42px;
	line-height: 42px;
	margin-bottom: 30px;
	text-transform: lowercase;
}

.content h2{ 
	font-weight: bold; 
	font-size: 42px;
	line-height: 42px;
	margin-bottom: 30px;

	display: inline-block;
	text-decoration: underline;
}
.content h3{ 
	font-weight: bold; 
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 10px;
}
.content strong{ 
	font-weight: bold; 
}
.content p {
	font-size: 16px;
	line-height: 16px;
	font-weight: 300;
	margin-bottom: 25px;
}


.content__band {
	width: 100%;
	padding: 30px 0px;
	background-color: #fff;
	color: #333;
}

.content__band p, .content__band li {
	font-size: 18px;
	line-height: 20px;
}

.content__band--first p {
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
}

.content__band.content__band--black {
	background-color: #333135;
	color: #fff;
}
.content__band.content__band--black p{
	color: #fff;
}

.content__band.content__band--lightBlue {
	background-color: #cdeffb;
}

.content__band.content__band--blue {
	background-color: #00aeef;
	color: #fff;
}
.content__band.content__band--blue p{
	color: #fff;
}

.content__band .container { position: relative; }

.content__inner {
	display: flex;
}
.content__inner__left{
	display: inline-block;
	padding-right: 15px;
	flex-basis: 50%;
	flex-grow 1;
}
.content__inner__right{
	display: inline-block;
	padding-left: 15px;
	flex-basis: 50%;
}

.content__inner__more {
	display: none;
}
.content__readMore {
	position: absolute;
	right: 15px;
	cursor: pointer;
	bottom: -15px;
}

.content__image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}

.content__image--1 {
	background-image: url('/images/image1.jpg');
}

.content__image--2 {
	background-image: url('/images/image2.jpg');
}

.content__image--3 {
	background-image: url('/images/image3.jpg');
}

.content__image--4 {
	background-image: url('/images/image4.jpg');
}

.content__image--5 {
	background-image: url('/images/image5.jpg');
}

.orange{ color: #f15a29!important; }
.blue { color: #00aeef!important; }


.footer {
	text-align: center;
	background-color: #1FA3DD; 
	padding: 30px;
}

.footer__logo {
	max-width: 150px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.footer .menu {
	width: auto;
	margin: 0 auto;
	padding-top: 10px;
	color: #fff;
	background-color: transparent;
	padding-bottom: 0px;
}

.footer .menu .menu__item {
	font-size: 13px;
	line-height: 13px;
}

.footer .menu a:hover {
	color: #eee;
}

form {
	width: 100%;
	max-width: 100%;
}

.Contact form input, .Contact form textarea {
	max-width: 100%;
}

#Form_Form_action_submit {
	width: 150px;
	background-color: #1FA3DD;
}

#Form_Form_Content_Holder {
	height: 0px;
	overflow: hidden;
}
input:invalid, textarea:invalid{
	box-shadow: none;
}

ul li {
	list-style-type: initial;
	margin-bottom: 5px;
	font-weight: 300;
}

ul {
	margin-bottom: 25px;
}

@media(max-width: 1199px) {
	.menu .menu__item, .menu.menu--page .menu__item {
		font-size: 16px;
		line-height: 16px;
	}

	.menu.menu--page .menu__item {
		margin: 0px 10px;
	}

	.menu__logo {
		margin-right: 15px;
	}

	.menu__logo--main {
		max-height: 70px;
		max-width: 168px;
	}
}

@media(max-width: 1020px) {
	.menu__logo--main {
		margin-left: 20px;
		margin-right: 10px;
	}

	.menu .menu__item {
		
	}
}

@media(max-width: 992px) {
	.content__inner{ display: block; }
	.content__inner__left{ display: block; padding-right: 0px;}
	.content__inner__right{ display: block; padding-left: 0px;}

	.menu {
		width: 100%;
		max-width: 100%;
	}

	.menu .menu__item {
		font-size: 15px;
		line-height: 15px;
	}

	.menu__logo {
		margin-right: 10px;
	}

	.menu.menu--page {
		display: none;
	}

	.mobileMenu.mobileMenu--page {
		display: block;
	}

	.Page .content, .Contact .content {
		margin-top: 118px;
	}

	.footer__logo {
		max-height: 58px;
		margin-bottom: 15px;
	}
}

@media(max-width: 940px) {
	.menu {
		display: none;
	}

	.mobileMenu {
		display: block;
	}

	.mobileMenu .menu {
		display: block;
	}

	.hero__logo {
		margin-left: -10px;
	}
}

@media(max-width: 776px) {
	.copy {
		column-count: 1;
	}

	.footer .menu {
		display: none;
	}

	.footer {
	}
}

@media(max-width: 400px) and (max-height: 700px) {
	.menu__logo--hero {
		display: block;
	}
}

@media(max-width: 350px) {
	.hero h1 {
		font-size: 32px;
		line-height: 32px;
	}

	.content__band p, .content__band li {
		font-size: 18px;
		line-height: 20px;
	}
}

/* Helper Classes used by Henry Geddes (http://henrygeddes.com) */
.whiteLine{width: 100%; border-top: 1px solid #fff;}
.blackLine{width: 100%; border-top: 1px solid #000}
.underline{text-decoration: underline;}
.fullWidth{width: 100%;}
.center{margin-left: auto; margin-right: auto;}
.bold{font-weight: bold!important;}
.noMargin{margin: 0px!important;}
.noMarginRight{margin-right: 0px!important;}
.noMarginLeft{margin-left: 0px!important;}
.noMarginTop{margin-top:0px!important;}
.noMarginBottom{margin-bottom: 0px!important;}
.noMarginBottomP p:last-child{margin-bottom: 0px!important;}
.noPadding{padding: 0px!important;}
.noPaddingRight{padding-right: 0px!important;}    
.noPaddingLeft{padding-left: 0px!important;}    
.noPaddingTop{padding-top: 0px!important;}    
.noPaddingBottom{padding-bottom: 0px!important;}    
.noBorder{border: none!important;}
.noBorderRight{border-right: none!important;}
.noBorderLeft{border-left: none!important;}
.noBorderTop{border-top: none!important;}
.noBorderBottom{border-bottom: none!important;}
.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }