/* Main */
html body { 
	font-family: 'CircularStd', 'Arial'; 
	color: #232323;
}

/* Menu */
.menu { 
	height: auto;
	width: 100%;
	
	padding: 22px 0px;
	background-color: #1EB4E7;
	text-align: center;
	height: 75px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 9001;

	display: flex;
}

.menu__logo {
	width: 70px;
	margin: 0 auto;
	position: fixed;
	margin-left: 16px;
}

.menu__inner {
	display: flex;
	justify-content: space-between;
	max-width: 650px;
	margin: 0 auto;
	align-items: center;

	max-width: 607px;
}

.menu__item {
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	padding: 0px 16px;
}

.menu a:hover {
	text-decoration: none;
	opacity: 0.8;
	transition: 0.4s;
}

.mobileMenu {
	display: none;
	height: 75px;
	padding: 22px 0px;
	color: #fff;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	background-color: #1EB4E7;
}

.mobileMenu .menu__logo {
	top: 0px;
}

.mobileMenu--home .menu__logo {
	display: none;
}

.mobileMenu__button {
	max-width: 50px;
	max-height: 50px;
	border-radius: 50px;
	position: fixed;
	right: 15px;
	top: 14px;
	z-index: 105;

	background-color: rgba(0, 0, 0, 0.3);
}

.mobileMenu .menu {
	
	left: 0;
	top: 75px;
	right: 0;
	max-height: 100%;
	transition: 0.3s;
	overflow: hidden;
	padding: 0px;
	height: 0px;
	text-align: center;
	z-index: 100;
}
.mobileMenu .menu .menu__logo {
	display: block;
	margin-top: 22px;
}
.mobileMenu .menu .menu__item {
	display: block;
	height: auto;
	padding: 15px 0px;
	margin-top: 0px;
}
.mobileMenu .menu a:last-child .menu__item{ padding-bottom: 0px; }

.mobileMenu__button img {
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
	border-radius: 50px;
}

/* Hero Content */
.hero {
	width: 100%;
	color: #fff;

	/*padding-bottom: 40px;*/
	position: relative;

	background-image: url('/images/hero.jpg');
	background-repeat: no-repeat;
	background-position: 50% calc(50%);

	height: 70vh;
	min-height: 500px;
	max-height: 700px;
}

.hero__content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.hero--home {
	max-height: 600px;
	min-height: 300px;
}

.hero--home .hero__content {
	bottom: 0;
	transform: none;
	top: auto;
	margin-bottom: 40px;
	
}

.hero--home .hero__content h1 {
	text-align: left;
	max-width: 770px;
	margin-left: 0px;
}

.hero__content h1 {
	text-align: center;
	font-size: 42px;
	line-height: 1.24;
	font-weight: 400;
	max-width: 750px;
	margin: 0 auto;
}

/* Content */
.imageBlock {
	position: relative;
}

.imageBlock__left {
	display: inline-block;
	margin-right: 3%;
	width: 46%;
	vertical-align: top;
}

.imageBlock__right {
	display: inline-block;
	margin-left: 3%;
	width: 46%;
	vertical-align: top;
}

.imageBlock img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.imageBlockContainer--second .imageBlock__block__inner {
	opacity: 1;
}

.imageBlockContainer h1 {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 40px;
	text-align: center;
}

.imageBlock__block__inner {
	padding: 48px 64px;
	color: #fff;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 50px;
	left: 50px;
	right: 50px;
	bottom: 50px;
	opacity: 0;
}

.imageBlock__inner__Link {
	margin-top: 20px;
	width: 100%;

	border: 1px solid #fff;
	text-align: center;
}

.imageBlock__inner__Link a {
	color: #fff;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;
	padding: 15px 20px;
}

input:invalid, textarea:invalid {
	box-shadow: none;
}

.imageBlock:hover .imageBlock__block__inner {
	opacity: 1;
	transition: 0.4s;
}

.imageBlock__more {
	display: block;
	margin-top: 82px;
	text-align: right;
	margin-bottom: 82px;
}

.imageBlock__more a {
	color: #000;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 0.2px;
}

.imageBlock__block__inner h2 {
	font-size: 26px;
	font-weight: 400;
	letter-spacing: 0.3px;
	margin-bottom: 22px;
	font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

.imageBlock__block__inner p {
	font-size: 18px;
	line-height: 1.31;
	letter-spacing: 0.3px;
	font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
.imageBlockContainer--first {
	margin-top: 32px;
}

.imageBlockContainer--first.isMobile .imageBlock__block__inner {
	opacity: 1;
}

.imageBlockContainer--first .imageBlock__left .imageBlock .imageBlock__block__inner {
	background-color: #1EB4E7;
}

.imageBlockContainer--first .imageBlock__right .imageBlock:first-child{ margin-top: 0px; }
.imageBlockContainer--first .imageBlock__right .imageBlock { margin-top: 5vw; }
.imageBlockContainer--first .imageBlock__left .imageBlock:first-child{ margin-top: 0px; }
.imageBlockContainer--first .imageBlock__left .imageBlock { margin-top: 5vw; }



.imageBlockContainer--first .imageBlock__right .imageBlock .imageBlock__block__inner {
	background-color: #f15b29;
}

.imageBlockContainer--first .imageBlock__left .imageBlock:first-child .imageBlock__block__inner {
	background-color: #f15b29;
	margin-top: 0px;
}

.imageBlockContainer--first .imageBlock__right .imageBlock:first-child .imageBlock__block__inner {
	background-color: #1EB4E7;
	margin-top: 0px;
}

.imageBlockContainer--first .imageBlock__right .imageBlock__block__inner {
	background-color: #1EB4E7;
}

/*.imageBlockContainer--first .imageBlock__left .imageBlock__block__inner {
	background-color: #f15b29;
}
.imageBlockContainer--first .imageBlock__left:first-child .imageBlock__block__inner{ 
	background-color: #1EB4E7;
}
.imageBlockContainer--first .imageBlock__right:first-child .imageBlock__block__inner{ 
	background-color: #f15b29;
}

.imageBlockContainer--first .imageBlock__right .imageBlock__block__inner {
	background-color: #1EB4E7;
}*/




.imageBlockContainer--second {
	margin-top: 50px;
}

.imageBlockContainer--second .imageBlock__block__inner {
	position: relative;
	top: inherit;
	left: inherit;
	bottom: inherit;
	right: inherit;
}

.imageBlockContainer--second .imageBlock__left .imageBlock__block__inner {
	/*margin-top: 366px;*/
	margin-top: 60%;
	background-color: #f15b29;
	padding-bottom: 150px;
}

.imageBlockContainer--second .imageBlock__right .imageBlock__block__inner {
	background-color: #1EB4E7;
	padding-bottom: 150px;
}

.aboutBlock {
	margin-top: 60px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.aboutBlock__item {
	color: #fff;
	background-color: #1EB4E7;

	font-size: 16px;
	padding: 20px 30px;
	margin: 0px 15px;

	width: 33%;
}


.reviewBlock {
	background-color: #f5f5f5;
	padding: 50px 0px;
}

.reviewBlock img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.reviewBlock__content {
	font-size: 18px;
	color: #464646;
	line-height: 1.5;
	font-weight: 400;
}

.imageBlockContainer--second .imageBlock__block__inner p {
	font-size: 28px;
}

.reviewBlock__content h2 {
	/*text-transform: uppercase;
	font-size: 16px;
	line-height: 1.5;
	padding-left: 15px;
	letter-spacing: 0.3px;
	font-weight: normal;
	border-left: 2px solid #1c1c1c;
	*/
	margin-bottom: 8px;
	font-size: 26px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.3px;
  color: #232323;
}

.reviewBlock__content h3 {
	font-size: 26px;
	line-height: 1.54;
	letter-spacing: 0.3px;
	font-weight: normal;
	margin: 8px 0px;
}

.reviewBlock__reviews {
	margin: 40px 0px;
}

.reviewBlock__review {
	display: inline-block;
	padding: 40px;
	background-color: #fff;
	margin: 0px 0.8%;
	width: 31.5%;
}

.reviewBlock__review:first-child {
	margin-left: 0px;
}
.reviewBlock__review:last-child {
	margin-right: 0px;
}

.reviewBlock__review__imageLine {
	display: flex;
	align-items: center;
}

.reviewBlock__review__img {
	border-radius: 100px;
	height: 80px;
	width: 80px;
	background-color: #000;
	margin-right: 30px;
}

.reviewBlock__review__name {
	font-size: 22px;
	opacity: 0.4;
	color: #000;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
}

.reviewBlock__review__content {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: #000;
}

.content {
	padding: 80px 0px;
	padding-bottom: 120px;
}

.content strong {
	font-size: 20px;
	font-weight: 400;
	line-height: 2;
	color: #1d1d26;
}

.content ul li {
	margin-bottom: 30px;
}

.content p {
	font-size: 18px;
	font-weight: 400;
	line-height: 2.22;
	color: #1d1d26;
}

ul li {
	list-style-type: disc;
	margin-bottom: 10px;
	line-height: 1.56;
	letter-spacing: 0.3px;
	font-size: 18px;
	font-weight: 400;
}

ul li:last-child {
	margin-bottom: 0px;
}

.seperator {
	height: 4px;
	width: 20px;
	background-color: #42abc8;
	margin-bottom: 28px;
}

.contentImageBlock {
	position: relative;
	padding-bottom: 75px;
}

.contentImageBlock .container {
}

.contentImageBlock h2 {
	font-size: 30px;
	font-weight: 400;
	line-height: 1.47;
	margin-bottom: 24px;
	margin-top: 40px;
}

.contentImageBlock p {
	font-size: 16px;
	line-height: 2;
	color: #1d1d26;
	font-weight: 400;
}

.contentImageBlock__left {
	display: inline-block;
	margin-right: 20px;
	width: calc(50% - 20px);
	vertical-align: top;
}

.contentImageBlock__right {
	display: inline-block;
	margin-left: 20px;
	width: calc(50% - 25px);
	vertical-align: top;
}

.contentImageBlock__container {
	overflow: visible;
}

.contentImageBlock__left {
	width: 50%;
	overflow: visible;
	float: left;
}
.contentImageBlock__right {
	width: 50%;
	overflow: visible;
	float: left;
	margin-left: -12%;
	margin-top: 10%;
}

.contentImageBlock__img {
	width: 120%;
	float: left;
	overflow: visible;
	box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3);
}

.contentImageBlock__img.contentImageBlock__img--second {
	width: 45%;
	margin-top: -330px;
}

.contentImageBlock__cols__right p {
	font-size: 16px;
	line-height: 2;
	font-weight: 400;
	color: #1d1d26;
}
.contentImageBlock__cols__right h1 {
	font-weight: 400;
	font-size: 30px;
	line-height: 1.47;
}


.contentImageBlock__container--second {
}

.contentImageBlock__cols__left {
	display: inline-block;
	width: 46%;
	margin-right: 3.5%;
	margin-top: -13vw;
	vertical-align: top;
}

.contentImageBlock__cols__right {
	display: inline-block;
	width: 46%;
	margin-left: 3.5%;
	margin-top: 60px;
}

.contentImageBlock__outlineText {
}

.contentImageBlock__outlineText__inner {
	position: relative;
	border: 2px solid #f15b29;
	color: #f15b29;
	z-index: 3;
	padding: 6vw 9vw 40px 40px;
	

	width: 100%;
}

.contentImageBlock__outlineText__inner p {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.89;
	color: #f15b29;
}

.img-responsive {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/*.contentImageBlock__img {
	width: 60%;
	height: auto;
	position: absolute;
}
.contentImageBlock__img img {
	width: 100%;
	height: auto;
}

.contentImageBlock__img:nth-child(1) {
	left: 0;
	z-index: 1;
}

.contentImageBlock__img:nth-child(2) {
	right: 0;
	top: 150px;
}*/


.contentImageBlock--second {
	height: 200px;
}
.contentImageBlock--second .contentImageBlock__img {
	left: 0;
	width: 50%;
	top: -200px;
}

.imageCarousel {

}

.imageCarousel__img {}

footer {
	/*background-image: linear-gradient(to bottom, #f99453, #1EB4E7);*/
	background-color: #1EB4E7;
	padding: 30px 0px;
	position: relative;
	text-align: center;
}

footer .menu__logo {
	position: static;
	margin: 0 auto;
	width: 150px;
}

/* Media queries */
@media(max-width: 1200px) {
	.reviewBlock__review {
		padding: 30px 20px;
	}

	.reviewBlock__review__img {
		height: 66px;
		width: 66px;
	}

	.imageBlock__block__inner {
		padding: 20px 30px;
		top: 20px;
		right: 20px;
		left: 20px;
		bottom: 20px;
	}

	.imageBlock__block__inner h2, .imageBlockContainer--second .imageBlock__block__inner h2{
		font-size: 24px;
		margin-bottom: 22px;
	}

	.imageBlock__block__inner p, .imageBlockContainer--second .imageBlock__block__inner p, .imageBlock__block__inner ul li{
		font-size: 16px;
		font-weight: 400;
	}
}

@media(max-width: 991px) {
	.aboutBlock {
		display: block;	
	}

	.aboutBlock__item {
		margin: 30px 0px;
		width: 100%;
	}

	.imageBlock__block__inner h2, .imageBlockContainer--second .imageBlock__block__inner h2{
		font-size: 32px;
		font-weight: 400;
		letter-spacing: 0.3px;
		margin-bottom: 27px;
	}

	.imageBlock__block__inner p, .imageBlockContainer--second .imageBlock__block__inner p, .imageBlock__block__inner ul li{
		font-size: 20px;
		line-height: 1.31;
		letter-spacing: 0.3px;
	}

	.reviewBlock__review {
		padding: 20px 10px;
	}

	.reviewBlock__review__img {
		height: 32px;
		width: 32px;
	}

	p.reviewBlock__review__name {
		font-size: 14px;
	}
	p.reviewBlock__review__content {
		font-size: 14px;
	}

	.imageBlockContainer--first .imageBlock__left {
		display: block;
		width: 100%;
		margin-bottom: 40px;
	}

	.imageBlockContainer--first .imageBlock__right {
		display: block;
		width: 100%;
		margin-left: 0px;
	}

	.imageBlock__block__inner {
		opacity: 1;
	}

	.contentImageBlock__cols__left {
		display: none;
	}

	.contentImageBlock__cols__right {
		display: block;
		width: 100%;
	}

	.contentImageBlock {
		padding-bottom: 0px;
	}

	.contentImageBlock__img.contentImageBlock__img--second {
		display: block;
		margin-top: 40px;
		width: 100%;
	}

	.imageBlockContainer--second .imageBlock__left {
		display: block;
		width: 100%;
		
	}

	.imageBlockContainer--second .imageBlock__left .imageBlock__block__inner {
		margin-top: 0px;
	}

	.imageBlockContainer--second .imageBlock__right {
		display: block;
		width: 100%;
		margin-top: 50px;
		margin-left: 0px;
		
	}

	.imageBlockContainer--second .imageBlock__left .imageBlock__block__inner {
		
	}

	.menu {
		display: none;
	}

	.mobileMenu, .mobileMenu .menu {
		display: block;
	}
}

@media(max-width: 767px) {
	.imageBlock__block__inner {
		padding: 30px 40px;
	}

	/*
	.imageBlock__block__inner h2 {
		font-size: 26px;
		font-weight: 900;
		letter-spacing: 0.3px;
		margin-bottom: 27px;
	}

	.imageBlock__block__inner p {
		font-size: 16px;
		line-height: 1.31;
		letter-spacing: 0.3px;
	}
	*/

	.reviewBlock__review {
		padding: 20px 10px;
		display: none;
	}

	.reviewBlock__review:first-child {
		display: block;
		width: 100%;
	}

	.reviewBlock__review__img {
		height: 32px;
		width: 32px;
	}

	p.reviewBlock__review__name {
		font-size: 14px;
	}
	p.reviewBlock__review__content {
		font-size: 14px;
	}
}

@media(max-width: 550px) {
	.menu .menu__logo {
		display: none;
	}
}

@media(max-width: 500px) {
	.imageBlock__block__inner {
		padding: 20px 30px;
		top: 20px;
		right: 20px;
		left: 20px;
		bottom: 20px;
	}

	.imageBlock__block__inner ul li {
		margin-left: 20px;
	}

	
	.imageBlock__block__inner h2, .imageBlockContainer--second .imageBlock__block__inner h2{
		font-size: 24px;
		margin-bottom: 16px!important;
		font-weight: 400;
		letter-spacing: 0.3px;
		margin-bottom: 27px;
	}

	.imageBlock__block__inner p, .imageBlockContainer--second .imageBlock__block__inner p, .imageBlock__block__inner ul li{
		font-size: 16px;
		line-height: 1.31;
		letter-spacing: 0.3px;
	}
	
}

@media(max-width: 450px) {
	.imageBlock__block__inner {
		padding: 10px 20px;
		top: 10px;
		right: 10px;
		left: 10px;
		bottom: 10px;
	}

	.imageBlock__block__inner h2, .imageBlockContainer--second .imageBlock__block__inner h2{
		font-size: 20px;
		margin-bottom: 16px!important;
		font-weight: 400;
		letter-spacing: 0.3px;
		margin-bottom: 27px;
	}

	.imageBlock__block__inner p, .imageBlockContainer--second .imageBlock__block__inner p, .imageBlock__block__inner ul li{
		font-size: 16px;
		line-height: 1.31;
		letter-spacing: 0.3px;
	}
}

@media(max-width: 375px) {
	.imageBlock__block__inner ul li {
		font-size: 14px;
	}
}


/* Helper Classes */

/*.clearfix { display: inline-block; }*/
.clearfix { display: block; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.whiteLine{width: 100%; border-top: 1px solid #fff;}
.blackLine{width: 100%; border-top: 1px solid #000}
.underline{text-decoration: underline;}
.fullWidth{width: 100%;}
.center{margin-left: auto; margin-right: auto;}
.bold{font-weight: bold!important;}
.noMargin{margin: 0px!important;}
.noMarginRight{margin-right: 0px!important;}
.noMarginLeft{margin-left: 0px!important;}
.noMarginTop{margin-top:0px!important;}
.noMarginBottom{margin-bottom: 0px!important;}
.noMarginBottomP p:last-child{margin-bottom: 0px!important;}
.noPadding{padding: 0px!important;}
.noPaddingRight{padding-right: 0px!important;}    
.noPaddingLeft{padding-left: 0px!important;}    
.noPaddingTop{padding-top: 0px!important;}    
.noPaddingBottom{padding-bottom: 0px!important;}    
.noBorder{border: none!important;}
.noBorderRight{border-right: none!important;}
.noBorderLeft{border-left: none!important;}
.noBorderTop{border-top: none!important;}
.noBorderBottom{border-bottom: none!important;}
.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }